Repository abadr99/stm32f10xxx_cpp_interface, pull requests merged in 2024-12, with the labels that each got.

#85 Improve Interface Arch (@abadr99, @noran97)
  dev/inc/mcal/Adc.h
  dev/inc/mcal/BaseAddress.h
  dev/inc/mcal/Dma.h
  dev/inc/mcal/Exti.h
  dev/inc/mcal/Gpio.h
  dev/inc/mcal/I2c.h
  dev/inc/mcal/Iwdg.h
  dev/inc/mcal/Nvic.h
  dev/inc/mcal/Peripherals.h
  dev/inc/mcal/Power.h
  dev/inc/mcal/Rcc.h
  dev/inc/mcal/Rtc.h
  dev/inc/mcal/Spi.h
  dev/inc/mcal/Systick.h
  dev/inc/mcal/Timer.h
  dev/inc/mcal/Usart.h
  dev/inc/mcal/Wwdg.h
  dev/inc/mcal/stm32f103xx.h
  dev/inc/utils/Array.h
  dev/inc/utils/Types.h
  dev/inc/utils/Util.h
  dev/src/mcal/Adc.cpp
  dev/src/mcal/Dma.cpp
  dev/src/mcal/Exti.cpp
  dev/src/mcal/Gpio.cpp
  dev/src/mcal/I2c.cpp
  dev/src/mcal/Iwdg.cpp
  dev/src/mcal/Nvic.cpp
  dev/src/mcal/Power.cpp
  dev/src/mcal/Rcc.cpp
  dev/src/mcal/Rtc.cpp
  dev/src/mcal/Spi.cpp
  dev/src/mcal/Systick.cpp
  dev/src/mcal/Timer.cpp
  dev/src/mcal/Usart.cpp
  dev/src/mcal/Wwdg.cpp
  tests/Makefile
  tests/hardware/mcal/gpio/main.cpp
  tests/unittests/mcal/EXTI-test.cpp
  tests/unittests/mcal/Nvic-test.cpp
  tests/unittests/mcal/Pin-test.cpp
  tests/unittests/mcal/Rcc-test.cpp
  tests/unittests/mcal/Systick-test.cpp
Labels: enhancement 🚀, mcal 🏾, review 👀, important

#98 Adding HW tests for NVIC, USART, GPIO (MRefat13)
  dev/inc/mcal/Nvic.h
  dev/inc/utils/Assert.h
  dev/src/mcal/Gpio.cpp
  dev/src/mcal/Nvic.cpp
  dev/src/mcal/Usart.cpp
  tests/hardware/mcal/Usart/ByBlocking.cpp
  tests/hardware/mcal/Usart/NonBlocking.cpp
Labels: mcal 🏾, test 🧐

#101 Test SysTick [@MRefat13, @bbadr99]
  dev/inc/mcal/Systick.h
  dev/src/mcal/Systick.cpp
  tests/hardware/mcal/Systick/main.cpp
Labels: bug 🐞, mcal 🏾, test 🧐, review 👀

#102 Testing DMA[@MRefat13, @abadr99]
  dev/inc/mcal/Dma.h
  dev/src/mcal/Dma.cpp
  tests/hardware/mcal/Dma/main.cpp
Labels: bug 🐞, mcal 🏾, test 🧐, review 👀

#79 Introduce Test Coverage To CI(@abadr99)
  .github/workflows/ci.yml
  .gitignore
  tests/.gitignore
  tests/Makefile
  tools/github/lcov-config.sh
Labels: enhancement 🚀, ci, wip 🔜🤔⏳

#104 Enhance tests/makefile
  tests/Makefile
Labels: enhancement 🚀, build 🔨

#105 Support generating static lib and add some examples (@abadr99)
  UPDATES
  common.mk
  dev/Makefile
  dev/build/modules.in
  dev/build/stm32.mk
  examples/alarm/Alarm.cpp
  examples/alarm/Alarm.hpp
  examples/alarm/Makefile
  examples/alarm/alarm.elf
  examples/alarm/alarm.hex
  examples/alarm/build.map
  examples/alarm/main.cpp
  examples/alarm/stm32f103_startup.cpp
  examples/alarm/stm32f103c8t6.ld
  examples/alarm/stm32f103cpp.a
Labels: enhancement 🚀, build 🔨
