Repository abadr99/stm32f10xxx_cpp_interface, pull requests merged in 2024-03, with the labels that each got.

#6 Fix bugs in utils (@abadr99)
  dev/utils/inc/BitManipulation.h
  tests/.gitignore
  tests/unittests/utils/BitManipulation-test.cpp
Labels: bug

#5 Adding RCC Interface[@MRefat13, @ManarAbdelraouf, @abadr99]
  .gitignore
  .vscode/c_cpp_properties.json
  dev/Makefile
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Rcc.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Rcc.cpp
  dev/utils/inc/Assert.h
  dev/utils/inc/BitManipulation.h
  dev/utils/inc/Math.h
  dev/utils/inc/Register.h
  dev/utils/inc/Types.h
  tests/Makefile
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Rcc-test.cpp
  tests/unittests/utils/BitManipulation-test.cpp
Labels: mcal

#9 Add RCC unittests [@noura36 , @MRefat13]
  tests/unittests/mcal/Rcc-test.cpp
Labels: test, review

#12 Introduce Support for Bitset Data Structure(@abadr99)
  dev/utils/inc/BitManipulation.h
  dev/utils/inc/BitSet.h
  tests/unittests/utils/BitSet-test.cpp
Labels: utils

#13 Introduce support For Pin Type
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Pin.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Pin.cpp
  dev/utils/inc/BitManipulation.h
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Pin-test.cpp
Labels: mcal
