Repository abadr99/stm32f10xxx_cpp_interface, pull requests merged in 2024-08, with the labels that each got.

#56 Support all modes of pin in Pin class (@abadr99)
  dev/mcal/inc/Pin.h
  dev/mcal/src/Gpio.cpp
  dev/mcal/src/Pin.cpp
  tests/unittests/mcal/Pin-test.cpp
Labels: enhancement

#29 Add buzzer driver
  dev/build/modules.in
  dev/hal/inc/Buzzer.h
  dev/hal/src/Buzzer.cpp
Labels: hal, review

#42 initial implementation of WWDG
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Wwdg.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Wwdg.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Wwdg-test.cpp
Labels: mcal

#60 Enhance Interfacing With GPIO (@abadr99)
  dev/build/modules.in
  dev/hal/inc/Buzzer.h
  dev/hal/inc/Led.h
  dev/hal/inc/Relay.h
  dev/hal/inc/SevenSegment.h
  dev/hal/src/Buzzer.cpp
  dev/hal/src/DC_Motor.cpp
  dev/hal/src/Keypad.cpp
  dev/hal/src/LED.cpp
  dev/hal/src/Led.cpp
  dev/hal/src/Relay.cpp
  dev/hal/src/STP_74HC595.cpp
  dev/hal/src/SevenSegment.cpp
  dev/mcal/inc/Gpio.h
  dev/mcal/inc/Pin.h
  dev/mcal/src/Gpio.cpp
  dev/mcal/src/Pin.cpp
  dev/mcal/src/Wwdg.cpp
  dev/utils/inc/BitManipulation.h
  dev/utils/inc/BitSet.h
  dev/utils/inc/Types.h
Labels: enhancement, mcal

#45 Support interfacing with hc05 device (@abad99, @noran97)
  dev/build/modules.in
  dev/hal/inc/HC05.h
  dev/hal/src/HC05.cpp
Labels: hal

#50 LCD[@noura36, @abadr99]
  dev/build/modules.in
  dev/hal/inc/Lcd.h
  dev/hal/src/Lcd.cpp
  dev/utils/inc/Util.h
  dev/utils/src/BitManipulation.cpp
  dev/utils/src/Math.cpp
  dev/utils/src/Register.cpp
Labels: hal, review

#51 Support interfacing with IR (@gehadHassanin, @abadr99)
  dev/build/modules.in
  dev/hal/inc/Buzzer.h
  dev/hal/inc/IR.h
  dev/hal/src/Buzzer.cpp
  dev/hal/src/IR.cpp
Labels: hal, request-changes

#62 Support Power Saving [@noura36, @MRefat13]
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Power.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Power.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Pwr-test.cpp
Labels: mcal

#64 hal: fix memory issue with hc05(@abadr99, MRefat13)
  dev/hal/inc/HC05.h
  dev/hal/src/HC05.cpp
  dev/mcal/inc/Power.h
  dev/mcal/src/Power.cpp
Labels: bug

#57 Support interfacing with USART's interrupt ( @noura36, @MRefat13)
  dev/hal/inc/HC05.h
  dev/hal/src/HC05.cpp
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Usart.h
  dev/mcal/src/Usart.cpp
  tests/hardware-app/mcal/Usart/ByBlocking.cpp
  tests/hardware-app/mcal/Usart/NonBlocking.cpp
  tests/unittests/mcal/BaseAddress-test.h
Labels: mcal, review

#70 Improve parsing module.in file (@abadr99)
  dev/Makefile
  dev/build/Parser.py
  dev/build/modules.in
Labels: make

#68 Timer
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Timer.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Timer.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Timers-test.cpp
Labels: mcal, review

#52 enhancing SPI and adding sd-card and Tft (@noran97, @MRefat13)
  dev/build/modules.in
  dev/hal/inc/SdCard.h
  dev/hal/inc/Tft.h
  dev/hal/src/SdCard.cpp
  dev/hal/src/Tft.cpp
  dev/mcal/inc/Spi.h
  dev/mcal/src/Spi.cpp
Labels: enhancement, mcal, hal, request-changes

#41 add DAC [@noura36, @MRefat13]
  dev/build/modules.in
  dev/hal/inc/Dac.h
  dev/hal/src/Dac.cpp
Labels: hal, request-changes
