Repository abadr99/stm32f10xxx_cpp_interface, pull requests merged in 2024-04, with the labels that each got.

#14 Support Configuring External Clock [@noura36, @MRefat13, @abadr99]
  dev/mcal/inc/Rcc.h
  dev/mcal/src/Rcc.cpp
  tests/unittests/mcal/Rcc-test.cpp
Labels: mcal, review

#17 Test Pin [@ManarAbdelraouf, @abadr99]
  dev/mcal/inc/Pin.h
  dev/mcal/src/Pin.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Pin-test.cpp
Labels: test, review

#11 add GPIO Impelmentaion[@noura36,@noran97]
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Gpio.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Gpio.cpp
Labels: mcal

#19 Remove unrelated methods to pin class (@abadr99, @MRefat13)
  dev/mcal/inc/Pin.h
  dev/mcal/src/Pin.cpp
  tests/unittests/mcal/GPIO-test.cpp
  tests/unittests/mcal/Pin-test.cpp
Labels: enhancement

#20 Adding additional function to the GPIO Driver[@MRefat13, @abadr99]
  dev/mcal/inc/Gpio.h
  dev/mcal/src/Gpio.cpp
Labels: enhancement

#8 Support Upload Rule (@abadr99)
  README.md
  dev/.gitignore
  dev/Makefile
  dev/build/stm32.mk
Labels: make

#15 Systick [@ManarAbdelraouf,@abadr99]
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Systick.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Systick.cpp
  dev/utils/inc/Types.h
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Systick-test.cpp
Labels: review
