Repository abadr99/stm32f10xxx_cpp_interface, pull requests merged in 2024-09, with the labels that each got.

#76 Update Checkout Version(@abadr99)
  .github/workflows/ci.yml
Labels: ci

#73 Enhance Interfacing With I2C(@abadr99)
  dev/mcal/inc/I2c.h
  dev/mcal/src/I2c.cpp
  dev/utils/inc/BitManipulation.h
Labels: mcal

#77 Support static analysis in ci (@abadr99)
  .github/workflows/ci.yml
  tools/github/cppcheck-config.sh
  tools/github/cppcheck.sh
Labels: ci

#39 ADC initial implementation (@noran97, @MRefat13)
  dev/build/modules.in
  dev/hal/inc/LDR.h
  dev/hal/inc/LM35.h
  dev/hal/src/LDR.cpp
  dev/hal/src/LM35.cpp
  dev/mcal/inc/Adc.h
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Adc.cpp
  dev/utils/inc/BitManipulation.h
  tests/unittests/mcal/Adc-test.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/EXTI-test.cpp
Labels: mcal, hal, review

#94 Spi HW_Test
  dev/inc/mcal/stm32f103xx.h
  dev/main.cpp
  dev/src/mcal/Spi.cpp
  tests/hardware/mcal/Spi/main.cpp
Labels: test

#95 Timer Hw_Test
  dev/inc/mcal/Timer.h
  dev/src/mcal/Timer.cpp
  tests/hardware/mcal/Timer/main.cpp
Labels: test 🧐

#78 Hal enhancment
  dev/inc/hal/DC_Motor.h
  dev/inc/hal/Dac.h
  dev/inc/hal/Esp.h
  dev/inc/hal/Keypad.h
  dev/inc/hal/Led.h
  dev/inc/hal/Relay.h
  dev/inc/hal/STP_74HC595.h
  dev/inc/hal/SevenSegment.h
  dev/src/hal/Buzzer.cpp
  dev/src/hal/DC_Motor.cpp
  dev/src/hal/Dac.cpp
  dev/src/hal/Esp.cpp
  dev/src/hal/HC05.cpp
  dev/src/hal/IR.cpp
  dev/src/hal/Keypad.cpp
  dev/src/hal/Led.cpp
  dev/src/hal/Relay.cpp
  dev/src/hal/STP_74HC595.cpp
  dev/src/hal/SdCard.cpp
  dev/src/hal/SevenSegment.cpp
Labels: enhancement 🚀, hal 🔌, review 👀, approved 😁👍🆗
