Repository abadr99/stm32f10xxx_cpp_interface, pull requests merged in 2024-07, with the labels that each got.

#24 Implement EXTI [@Manar,@abadr99]
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/EXTI.h
  dev/mcal/inc/Gpio.h
  dev/mcal/inc/Systick.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/EXTI.cpp
  dev/mcal/src/Systick.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/EXTI-test.cpp
  tests/unittests/mcal/GPIO-test.cpp
Labels: mcal, review

#31 adding implementation and test for some functions
  dev/utils/inc/BitManipulation.h
  tests/unittests/utils/BitManipulation-test.cpp
Labels: enhancement, review

#26 USART[@noura36,@gehadHassanein]
  dev/Makefile
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Usart.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Usart.cpp
  tests/Makefile
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Usart-test.cpp
Labels: mcal, review

#25 Add SPI[@noura36,@noran97]
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/Spi.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/Spi.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/Spi.cpp
Labels: mcal

#23 initial implementation for keypad
  dev/build/modules.in
  dev/hal/inc/Keypad.h
  dev/hal/inc/LED.h
  dev/hal/src/Keypad.cpp
  dev/hal/src/LED.cpp
Labels: hal, review

#36 Support array data structure (@abadr99)
  dev/utils/inc/Array.h
  tests/unittests/utils/Array-test.cpp
Labels: utils

#28 Seven Segment driver
  dev/build/modules.in
  dev/hal/inc/SevenSegment.h
  dev/hal/src/SevenSegment.cpp
  dev/mcal/inc/Pin.h
Labels: hal

#37 I2C [@Manar,@abadr99]
  dev/build/modules.in
  dev/mcal/inc/BaseAddress.h
  dev/mcal/inc/I2c.h
  dev/mcal/inc/stm32f103xx.h
  dev/mcal/src/I2c.cpp
  tests/unittests/mcal/BaseAddress-test.h
  tests/unittests/mcal/I2c-test.cpp
Labels: mcal, review

#47 Support interfacing with shift register module (@abadr99, @noran97)
  dev/build/modules.in
  dev/hal/inc/STP_74HC595.h
  dev/hal/src/STP_74HC595.cpp
  dev/mcal/inc/Gpio.h
  dev/mcal/inc/Systick.h
  dev/mcal/src/Systick.cpp
  dev/utils/inc/BitManipulation.h
Labels: hal

#48 DC_Motor[@noura36]
  dev/build/modules.in
  dev/hal/inc/DC_Motor.h
  dev/hal/src/DC_Motor.cpp
Labels: hal, review

#49 Relay[@noura36]
  dev/build/modules.in
  dev/hal/inc/Relay.h
  dev/hal/src/Relay.cpp
Labels: hal, review
