Repository abadr99/stm32f10xxx_cpp_interface, pull requests merged in 2025-02, with the labels that each got.

#103 Initial Spi Test [@MRefat, @Manar]
  tests/hardware/mcal/Spi/main.cpp
Labels: mcal 🏾, test 🧐, review 👀

#67 Adding led-matrix (@gehadHassanin, @MRefat13)
  dev/build/modules.in
  dev/hal/inc/LedMatrix.h
  dev/hal/src/LedMatrix.cpp
  dev/inc/hal/LedMatrix.h
  dev/inc/utils/Font.h
  dev/src/hal/LedMatrix.cpp
  dev/utils/inc/Font.h
Labels: enhancement 🚀, question 🤔❓, hal 🔌, review 👀

#99 Enhancing make file(@noran97)
  dev/Makefile
  dev/build/stm32.mk
Labels: enhancement 🚀, review 👀, build 🔨

#111 Fixing directories
  dev/hal/inc/LedMatrix.h
  dev/hal/src/LedMatrix.cpp
  dev/inc/hal/LedMatrix.h
  dev/inc/utils/Font.h
  dev/src/hal/LedMatrix.cpp
Labels: review 👀

#109 CAN Bus Test[@MRefat13, @noura36]
  dev/build/modules.in
  dev/inc/mcal/Can.h
  dev/inc/mcal/stm32f103xx.h
  dev/inc/utils/Constant.h
  dev/src/mcal/Can.cpp
  tests/hardware/mcal/Can/main.cpp
Labels: bug 🐞, enhancement 🚀, test 🧐, review 👀, blocked 🚫😢
